body {
	background-color: transparent;
	height: 1080px;
	width: 1920px;
	padding:0px;
	margin:0px;
	font-family: 'Lato', sans-serif;
	overflow: hidden;
}
/* Client */
.left_side_client {
	float: left;
	width: 35%;
	height: 100%;
}
.right_side_client {
	float: right;
	width: 65%;
	height: 100%;
}

/* Client: Left Side */
.webcam_content {
	height: 35%;
	width: 90%;
	margin: 5%;
	background-color: #222;
}
.twitch_chat_content {
	width: 90%;
	margin: 5%;
	background-color: #222;
	height: 55%;
}
.bottom_align_rank {
	position: relative;
	bottom: -280px;
	height: 30px;
}

/* Client: Right Side */
.league_client {
	width: 90%;
	height: 60%;
	/*background-color: #222;*/
	margin: 5%;
	margin-top: 3%;
}
.social_info {
	width: 90%;
	height: 27%;
	margin: 5%;
	margin-top: 0px;
}
.social_panel_column {
	width: 48%;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0px;
	display: inline;
}
.social_donator_subsection {
	height: 40%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	background-color: #222;
	color: #BA0D24;
}
.social_donator_subsection h2 {
	color: #fff;
	background-color: #BA0D24;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.social_donator_subsection .social_donator_subsection_content {
	padding: 10px;
}

/* Loading Screen classes */
.loading_screen_row {
	position: absolute;
	left: 260px;
	width: 1400px;
	height: 475px;
	display: flex;
}
.blue_side_row {
	top: 25px;
}
.red_side_row {
	top: 575px;
}
.player_wrapper {
	width: 258px;
	height: 100%;
	margin: 12px;
	margin-top: 5px;
}
.additional_info {
	position: relative;
	display: inline-block;
	top: 306px;
	width: 97%;
	height: 50px;
	background-color: rgba(0,0,0, .7);
	color: #FFF;
	margin-left: 5px;
	border-bottom: 1px solid #000;
}
.loading_screen_row .player_wrapper:first-child {
	margin-left: 5px;
}
.loading_screen_row .player_wrapper:last-child {
	margin-right:12px;
}
.additional_info_win_rate {
	padding-top: 7px;
	margin-left: 10px;
	text-align: left;
}
.additional_info_kda {
	margin-left: 10px;
	text-align: left;
}

/* In game classes */
.game_bottom_row {
	height: 285px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}
.game_webcam_content {
	height: 100%;
	width: 300px;
	background-color: #000;
	display: inline-block;
}
.game_small_content_row {
	width: 1340px;
	height: 120px;
	position: relative;
	left: 300px;
	bottom: 120px;
	background-color: rgba(1,1,1,.5);
}


/* Utility Classes */
.slant_div {
	background-color: #BA0D24;
	width: 35%;
	font-size: 26px;
	padding: 5px;
	color: #fff;

}
.upward_right_slant_triangle {
	position: relative;
	top: -5px;
	right: -45px;
	display: inline-block;
	float: right;
	border-top: 20px solid #BA0D24;
	border-right: 20px solid transparent;
	border-left: 20px solid #BA0D24;
	border-bottom: 20px solid transparent;
}
.downward_right_slant_triangle {
	position: relative;
	top: -5px;
	right: -45px;
	display: inline-block;
	float: right;
	border-top: 20px solid transparent;
	border-right: 20px solid transparent;
	border-left: 20px solid #BA0D24;
	border-bottom: 20px solid #BA0D24;
}
.downward_left_slant_triangle {
	position: relative;
	top: -5px;
	right: 45px;
	display: inline-block;
	float: left;
	border-top: 20px solid transparent;
	border-right: 20px solid #BA0D24;
	border-left: 20px solid transparent;
	border-bottom: 20px solid #BA0D24;
}
.right_align {
	float: right;
}
.left_align {
	float: left;
}
